
DB_ENCRYPTION_KEY=
DB_ENCRYPTION_SALT=

MIDNIGHT_PASSWORD=
MIDNIGHT_SAFE_WORD=
MIDNIGHT_PANIC_PHRASE=
MIDNIGHT_RECOVERY_KEY=

LEXIE_PASSWORD=
LEXIE_SAFE_WORD=
LEXIE_PANIC_PHRASE=
LEXIE_RECOVERY_KEY=

DISABLE_CLOUD_BACKUP=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=
R2_BUCKET_NAME=
R2_PUBLIC_URL=

DATABASE_URL=postgres://postgres:postgres@localhost:5432/test
REDIS_URL=
CLOUD_REDIS_URL=
